* {
  padding: 0;
  margin: 0;
}
.container {
  box-sizing: border-box;
  background-color: black;
  min-height: 100vh;
}
header {
  height: 55px;
  background-color: #bbb;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 45px;
  height: 40px;
  background-color: #ff0044;
  border-radius: 10px;
}
.navbar {
  gap: 10px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
}
.navItens {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
footer {
  width: 100%;
  height: 45px;
  background-color: #bbb;
}

.flex-container {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: 20px auto;
  gap: 20px;
  /* background-color: red; */
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  height: 250px;
  background-color: #bbb;
  flex: 1 1 250px;
}
