* {
  padding: 0;
  margin: 0;
}

.flex-container {
  box-sizing: border-box;
  padding: 10px;
  background-color: black;
  color: white;
  min-height: 100vh;
  display: flex;
  gap: 10px;
}

.flex-item {
  background-color: #ff0044;

  /* flex-basis: 150px; */
  /* flex-grow: 1; */
  /* flex-shrink: 3; */
  flex: 1 1 150px;
}
