.date {
  color: #008080;
  font-family: "Roboto", Arial, sans-serif;
}

.post {
  margin-bottom: 50px;
  padding-top: 20px;
  padding-left: 50px;
}

.post-content {
  font-family: "Open Sans", Arial, sans-serif;
  width: 90%;
  font-weight: normal;
}

.post-container {
  /*                  #fffafa*/
  background-color: #fc9595;
  width: 70%;
  height: 100%;
  margin: 0% auto 0px auto;
}

h1 {
  font-weight: 500;
  font-family: "Montserrat", Arial, sans-serif;
}

body {
  margin: 0px;
}
