h1 + p {
  font-family: "Roboto", Arial, sans-serif;
}

p + p {
  font-family: monospace;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.5;
  text-decoration: line-through;
}

h1 {
  font-family: "Geostar", "Roboto", sans-serif;
  text-align: center;
  text-decoration: underline;

  margin: 70px auto 70px auto;
  /*
  margin-top: 70px;
  margin-right: auto;
  margin-bottom: 70px;
  margin-left: auto;
  */

  width: 70%;
  border: 1px solid;
  padding: 10px; /*ou padding: 10px 10px 10px 10px*/
}
