/* 

* {

}

Seleciona todos os elementos

*/

li  a {
  color: red;
}

li > a{
    color: orange;
}

h1 + h4{
    color: purple;
}

ul + h4{
    border: 0.5px solid black;
    color: darkblue;
}

a[href="/recibo_href"]{
    color: green;
}

li:nth-of-type(2){
    color: darkmagenta;
}