* {
  padding: 0;
  margin: 0;
}
.container {
  min-height: 100vh;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 3px;
}
.item {
  height: auto;
  background-color: #bbb;
  border: 1px solid black;
}
.item1 {
  grid-column: 1/4;
  grid-row: 1/3;
}
.item3 {
  grid-column: 2/4;
  grid-row: 3/5;
}
.item4 {
  grid-column: 1/4;
}
.item6 {
  grid-column: 2/4;
}
